<div class="container">
    <div class="wrapper">
        <div id="title"><p>ABOUT</p></div>
        <div id="desc-photo-container">
            <div id="photo-container">
                <img id="photo" src="assets/photo.jpg"/>

            </div>
            <div id="desc-container">
                <p class="desc-content">
                    My name's Mohamed. I'm mean stack developer based in Giza, EGYPT.
                    I am a determinant ambitious Software Developer with diverse work experience, including
                    programming, software development, Using Extensive knowledge of software development
                    cycle as well as proficiency in several programming languages. Comfortable discussing
                    technical issues and solutions with Co-Workers as well as clients. I am willing to make
                    difference in computer industry and information technology .This Job will definitely help me a
                    lot to achieve my dream.


                </p>
            </div>
        </div>

    </div>
   
</div>