<div class="container">
    <div class="wrapper">
        <div id="title"><p>ABOUT</p></div>
        <div id="desc-photo-container">
            <div id="photo-container">
                <img id="photo" src="assets/photo.jpg"/>

            </div>
            <div id="desc-container">
                <p class="desc-content">
                    My name's Mohamed. I'm a web designer and developer based in Southampton, UK.

                    During the day I’m the lead developer at a local agency. During the evenings I spend my time working on freelance projects and building my own products.
                    
                    My most recent project is called Calendi. It’s a simple yet powerful editorial calendar for WordPress.


                </p>
            </div>
        </div>

    </div>
   
</div>