<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<div class="main">
<!-- <div id='stars'></div>  -->
<!-- <div id='stars2'></div>
<div id='stars3'></div> -->
<div id="avatar-container">
<!-- <img src="assets/second.jpg" alt="Avatar" class="avatar"> -->
</div>

<div id='title'>
    <p id="hello">
        Hello, I'm <span style="color:#E31B6D"><b>Mohamed Mamdouh</b></span>
    </p>
    <!-- <br> -->

    <p id="desc">I'm a Egypt based Fullstack developer focused on crafting clean  & user‑friendly experiences.</p>

</div>
<div id="new-title">

</div>
<div class="container">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
  </div>
</div>

