

.main {
        width:100%;
        height:calc(100vh - 65px);
        /* background: radial-gradient(ellipse at bottom, #1e0252 0%, #000000 100%); */
        background-image: url('/assets/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        overflow: hidden;
        border: none;

      }

      .down{
              display: block;
              font-size: 60px;
              position: absolute;
              bottom:20px;
              left:50%;
      }
      
      
    
      #title span {
        /* background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
      }
      .container {
        position: absolute;
        bottom:50px;
        left:50%;
        width: 24px;
        height: 24px;
      }
      
      .chevron {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
      }
      
      .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
      }
      
      .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
      }
      
      .chevron:before,
      .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #fff;
      }
      
      .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
      }
      
      .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
      }
      
      @keyframes move {
        25% {
          opacity: 1;
      
        }
        33% {
          opacity: 1;
          transform: translateY(30px);
        }
        67% {
          opacity: 1;
          transform: translateY(40px);
        }
        100% {
          opacity: 0;
          transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
      }
      
     
      
      @keyframes pulse {
        to {
          opacity: 1;
        }
      }
      

      @media screen and (min-width: 701px) {


        #title {
                white-space: normal;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                color: #FFF;
                text-align: center;
                font-family: 'Patrick Hand', cursive;
                font-size: 40px;
                margin-top: -60px;
                padding-left: 10px;
                color:rgb(212, 211, 211);
                letter-spacing: 10px;
              }
              #hello{
                      margin-bottom: 25px;
              }
              #desc{
                font-size: 30px;
                color:rgba(248, 244, 244, 0.452);
                letter-spacing: 0px;

              }
              #avatar-container{
                position: relative;
                top:140px;
                vertical-align: middle;
                text-align: center;
              }
              .avatar {
                background-size: cover;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border:5px rgba(253, 253, 253, 0.336) solid;
                /* border:2px red dashed; */
              }
              
      }
      
      @media screen and (max-width: 700px) {
        #title {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                color: #FFF;
                text-align: center;
                font-family: 'Patrick Hand', cursive;
                font-size: 25px;
                letter-spacing: 10px;
                margin-top: -60px;
                padding-left: 10px;
              }
              #desc{
                font-size: 20px;
                letter-spacing: 0px;
                color:rgba(248, 244, 244, 0.452);
              }
              #avatar-container{
                position: relative;
                top:180px;
                vertical-align: middle;
                text-align: center;

              }
              .avatar {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border:3px rgba(253, 253, 253, 0.336) solid;

              }
                
      }   

      @media screen and (max-width: 524px) {
        #title {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                color: #FFF;
                text-align: center;
                font-family: 'Patrick Hand', cursive;
                font-size: 15px;
                letter-spacing: 5px;
                margin-top: -60px;
                padding-left: 10px;
              }
              #hello{
                margin-bottom: 0px;
        }
              #desc{
                font-size: 15px;
                letter-spacing: 0px;
                color:rgba(248, 244, 244, 0.452);
              }
              #avatar-container{
                position: relative;
                top:100px;
                vertical-align: middle;
                text-align: center;

              }
              .avatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
      }   




      @keyframes animStar {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2000px);
        }
      }
      