<div class="container">
<div class="wrapper">
<div id="title"><p>Contact</p></div>
<div class="form-container">
<mat-form-field>
    <mat-label>Email address</mat-label>
    <textarea matInput placeholder="mm@gmail.com"></textarea>
  </mat-form-field>
  <br>
    <mat-form-field >
      <mat-label>Subject</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
<br>
    <mat-form-field >
        <mat-label>Content</mat-label>
        <textarea class="content" matInput placeholder=""></textarea>
      </mat-form-field>
      <br>
      <button mat-button> Submit form</button>
    </div>
</div>
</div>
