
<div class="main-container">
  
  

    <mat-toolbar style="position: relative"  [ngClass]="{'toolbarOpacity': (navService.getHeaderOpacity$() | async) === true, 'toolbar':(navService.getHeaderOpacity$() | async) === false }">
      <div class="stars-wrappers" *ngIf="(navService.getHeaderOpacity$() | async) === true">
      <div id='stars'></div>
     <div id='stars2'></div>
     <div id='stars3'></div>
    </div>
      <a mat-button> <span (click)="navService.goToSection('home')" class="mm-container">Mohamed Mamdouh</span> </a>
   
      <span class="example-spacer"></span>
  <div class="menu-items-lg">
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->

        
        <a 
        [ngClass]="{'nav-section':(navService.getCurrentSection$() | async) !='home' ,'selected-section': (navService.getCurrentSection$() | async) =='home'}" 
        (click)="navService.goToSection('home')" mat-button >Home</a>
        <a 
        [ngClass]="{'nav-section':(navService.getCurrentSection$() | async) !='about' ,'selected-section': (navService.getCurrentSection$() | async) =='about'}" 
         (click)="navService.goToSection('about')" mat-button>About</a>

        <a
        [ngClass]="{'nav-section':(navService.getCurrentSection$() | async) !='portofolio' ,'selected-section': (navService.getCurrentSection$() | async) =='portofolio'}" 
         (click)="navService.goToSection('portofolio')"  mat-button>Portofolio</a>

        <a 
        [ngClass]="{'nav-section':(navService.getCurrentSection$() | async) !='contact' ,'selected-section': (navService.getCurrentSection$() | async) =='contact'}" 
         (click)="navService.goToSection('contact')"  mat-button>Hire me</a>
      </div>
    </div>
      <div class="show-side-menu-btn" fxShow="true" fxHide.gt-sm="true">
        <span  (click)="sidenav.toggle()" class="material-icons">
            menu
            </span>
            
                  </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column" class="mobile-side-nav">
        <div fxLayout="column" >
          <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
          <a href="#" mat-button>Menu Item 1</a>
          <a href="#" mat-button>Menu Item 2</a>
          <a href="#" mat-button>Menu Item 3</a>
          <a href="#" mat-button>Menu Item 4</a>
          <a href="#" mat-button>Menu Item 5</a>
          <a href="#" mat-button>Menu Item 6</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>

        <ng-content></ng-content>

    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>